<a href="https://colab.research.google.com/github/patriciolucio03-tech/EXAMEN/blob/master/EJERCICIO3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# 1. Crear el DataFrame con 15 registros únicos (Nombres y datos originales)
data = {
    'nombre': ['Zaira', 'Yago', 'Vania', 'Ulises', 'Tania', 'Sacha', 'Raxel', 'Quara', 'Pavel', 'Oriel', 'Nidia', 'Mael', 'Lais', 'Kael', 'Jara'],
    'edad': [25, 19, 21, 24, 20, 22, 23, 18, 26, 21, 22, 20, 24, 25, 19],
    'ciudad': ['Cali', 'Medellín', 'Cali', 'Bogotá', 'Cartagena', 'Medellín', 'Cali', 'Bogotá', 'Cartagena', 'Cali', 'Pereira', 'Bogotá', 'Cali', 'Medellín', 'Pereira'],
    'nota_final': [91, 58, 74, 82, 63, 41, 89, 70, 52, 98, 45, 77, 85, 68, 93]
}

# Convertimos a DataFrame
df = pd.DataFrame(data)

# Mostramos el DataFrame original
print("--- DataFrame de Estudiantes ---")
print(df)

--- DataFrame de Estudiantes ---
    nombre  edad     ciudad  nota_final
0    Zaira    25       Cali          91
1     Yago    19   Medellín          58
2    Vania    21       Cali          74
3   Ulises    24     Bogotá          82
4    Tania    20  Cartagena          63
5    Sacha    22   Medellín          41
6    Raxel    23       Cali          89
7    Quara    18     Bogotá          70
8    Pavel    26  Cartagena          52
9    Oriel    21       Cali          98
10   Nidia    22    Pereira          45
11    Mael    20     Bogotá          77
12    Lais    24       Cali          85
13    Kael    25   Medellín          68
14    Jara    19    Pereira          93

In [3]:
# 2. Calcular estadísticas: promedio, máxima y mínima
promedio = df['nota_final'].mean()
nota_max = df['nota_final'].max()
nota_min = df['nota_final'].min()

print(f"\n--- Estadísticas de Notas ---")
print(f"Promedio de notas: {promedio:.2f}")
print(f"Nota máxima: {nota_max}")
print(f"Nota mínima: {nota_min}")

--- Estadísticas de Notas ---
Promedio de notas: 72.40
Nota máxima: 98
Nota mínima: 41

In [4]:
# 3. Filtrar estudiantes con nota mayor o igual a 70
df_filtrado = df[df['nota_final'] >= 70]

print("\n--- Estudiantes con nota mayor o igual a 70 ---")
print(df_filtrado)

--- Estudiantes con nota mayor o igual a 70 ---
    nombre  edad   ciudad  nota_final
0    Zaira    25     Cali          91
2    Vania    21     Cali          74
3   Ulises    24   Bogotá          82
6    Raxel    23     Cali          89
7    Quara    18   Bogotá          70
9    Oriel    21     Cali          98
11    Mael    20   Bogotá          77
12    Lais    24     Cali          85
14    Jara    19  Pereira          93

In [5]:
# 4. Agrupar por ciudad y mostrar el promedio de notas por ciudad
promedio_por_ciudad = df.groupby('ciudad')['nota_final'].mean()

print("\n--- Promedio de notas por ciudad ---")
print(promedio_por_ciudad)

--- Promedio de notas por ciudad ---
ciudad
Bogotá       76.333333
Cali         87.400000
Cartagena    57.500000
Medellín     55.666667
Pereira      69.000000
Name: nota_final, dtype: float64

In [6]:
# 5. Exportar el DataFrame filtrado a un archivo CSV
df_filtrado.to_csv('estudiantes_seleccionados.csv', index=False)

print("\n¡Proceso completado! El archivo 'estudiantes_seleccionados.csv' ha sido creado.")

¡Proceso completado! El archivo 'estudiantes_seleccionados.csv' ha sido creado.